.recommended {
    height: 370px;
    background-color: #191919;
    border-radius: 10px;
    margin: 0 0 20px 0;
}
.product_box{
    display: flex;
}
.heading {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.heading_title {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}

.container {
    margin: 0 0 0 20px;
    width: 230px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}